<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445533272734-9173rrt968bbsgo3bf331r3qsans9388.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445533272734-9173rrt968bbsgo3bf331r3qsans9388</string>
	<key>API_KEY</key>
	<string>AIzaSyBV72UoQtHduGjQqXsKWe7e8HoE3ZyUa7I</string>
	<key>GCM_SENDER_ID</key>
	<string>445533272734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FMI.CocktailCalendar</string>
	<key>PROJECT_ID</key>
	<string>cocktailcalendar</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktailcalendar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445533272734:ios:9721cd0d51f818e32c998f</string>
</dict>
</plist>